<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="styles.css">
    <title>About Jacked Roar</title>
</head>
<body>
    <header>
        <a href="#home" class="logo"><i class="fa-solid fa-dumbbell"></i> JackedRoar</a>
        <div id="menu-bar" class="fas fa-bars"></div>

        <nav class="navbar">
            <a href="/"><b>Home</b></a>
            <a href="/sports"><b>Sports</b></a>
            <a href="/diet"><b>Daily Diet</b></a>
            <a href="/fitness"><b>Exercise</b></a>
            <a href="/routine"><b>Routine</b></a>
            <a href="/about"><b>About</b></a>
            <a href="/contact"><b>Contact</b></a>
            <a href="/feedback"><b>feedback</b></a>
            <!-- <a href="./signup.html" class="btn">Signup</a>  -->
            <!-- <a href="./login.html" class="btn">Login</a>  -->
            </nav>
    </header>

    <section class="about-section">
        <h1 class="heading">About Jacked Roar</h1>
        <img src="https://images.unsplash.com/photo-1540558870477-e8c59bf88421?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="" style="height: 300px; margin-left: 412px; margin-bottom: 10px;" >
        <p style="font-size: 19px;">Welcome to Jacked Roar, your ultimate destination for fitness and sports enthusiasts. We are dedicated to helping you achieve your fitness goals and lead a healthier lifestyle.
        Our team of experienced trainers and experts are here to guide you through your fitness journey, whether you're a beginner or a seasoned athlete.
        Join us today and roar to new heights of strength, endurance, and overall well-being!</p>
    </section>
    <section class="footer">

        <div class="share">
            <a href="https://www.facebook.com/" class="btn">facebook</a>
            <a href="https://www.twitter.com/" class="btn">twitter</a>
            <a href="https://www.instagram.com/" class="btn">instagram</a>
            <!-- <a href="https://www.facebook.com/" class="btn">pinterest</a> -->
            <a href="https://www.linur <span>kedin.com/" class="btn">linkedin</a>
        </div>
    
        <h1 class="credit"> &copy;2023  <span> JackedRoar </span> | all rights reserved! </h1>
    
    </section>
    </body>
    </html>